<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jardinbotanico.jbplandelalaguna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UI.History.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Zone.Main.ZoneActivity"
            android:label="@string/title_activity_place"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Contact.Main.ContactActivity"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Contact.HowToArrive.HowToArriveActivity"
            android:label="@string/title_activity_how_to_arrive"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Vivarium.Main.VivariumActivity"
            android:label="@string/title_activity_vivarium"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.BarcodeView.BarcodeActivity"
            android:label="@string/title_activity_barcode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Vivarium.Details.VivariumDetailsActivity"
            android:label="@string/title_activity_vivarium"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Tips.Main.TipsActivity"
            android:label="@string/title_activity_tips"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Tips.List.TipsListActivity"
            android:label="@string/title_activity_tips_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Zone.Details.ZoneDetailsActivity"
            android:label="@string/title_activity_zone_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Family.Details.FamilyDescriptionActivity"
            android:label="@string/title_activity_family_description"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Tips.Details.TipsListDetailsActivity"
            android:label="@string/title_activity_tips_list_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Tips.Gallery.TipGalleryImagesActivity"
            android:label="@string/title_activity_tip_gallery_images"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
